[Unit]
Description=juice
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=4
User=root
ExecStart=/root/juice.sh

[Install]
WantedBy=multi-user.target
