[Unit]
Description=nvidia_pstate
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=4
User=root
ExecStart=bash -c "LD_LIBRARY_PATH=/root/ /root/nvidia-pstated"

[Install]
WantedBy=multi-user.target

