[Unit]
Description=nvidia_pl
After=network.target
StartLimitIntervalSec=1

[Service]
RemainAfterExit=true
Type=oneshot
User=root
ExecStart=/usr/bin/nvidia-smi -pl 75

[Install]
WantedBy=multi-user.target

