[Unit]
Description=duckdns.sh
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=300
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-29/duckdns.sh

[Install]
WantedBy=multi-user.target
