SET_COOKIES:TRUE
ACCEPT_ALL_COOKIES:TRUE
PERSISTENT_COOKIES:TRUE
COOKIE_FILE:~/.lynx_cookies
COOKIE_SAVE_FILE:~/.lynx_cookies
COOKIE_LOOSE_INVALID_DOMAINS:
FORCE_SSL_COOKIES_SECURE:FALSE

AUTO_SESSION:TRUE
# For some reason we need absolute path.
SESSION_FILE:/home/gilgamesh/.lynx_session
