# Should be run as a user service in ~/.config/systemd/user/.
[Unit]
Description=dotoold
After=sddm.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=60
User=gilgamesh
ExecStart=/usr/local/bin/dotoold

[Install]
WantedBy=xdg-desktop-autostart.target
