[Unit]
Description=gilgamesh-31.iptables
After=network.target
StartLimitIntervalSec=1

[Service]
RemainAfterExit=true
Type=oneshot
User=root
ExecStart=/root/iptables.sh

[Install]
WantedBy=multi-user.target

