# Run with the local `gilgamesh-45.ovpn.split` config.
[Unit]
Description=gilgamesh-45.split.ovpn
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=60
User=root
ExecStart=/usr/sbin/openvpn --config "/home/gilgamesh/main.syncthing/monochrome/machine/%H/gilgamesh-45.split.ovpn"

[Install]
WantedBy=multi-user.target
