[Unit]
Description=gilgamesh-36.docker
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=4
User=gilgamesh
ExecStart=/home/gilgamesh/main.syncthing/monochrome/config/gilgamesh-29/gilgamesh-36.docker

[Install]
WantedBy=multi-user.target
