[Unit]
Description=gilgamesh-38.qemu
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=4
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/config/gilgamesh-29/gilgamesh-38.qemu

[Install]
WantedBy=multi-user.target
