[Unit]
Description=tunnel
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=60
User=gilgamesh
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-52/tunnel.sh

[Install]
WantedBy=multi-user.target
