[Unit]
Description=reset-radio
After=hibernate.target hybrid-sleep.target suspend-then-hibernate.target
StartLimitIntervalSec=60

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/bash -c "/home/gilgamesh/main.syncthing/monochrome/bin/gx toggle radio && sleep 1 && /home/gilgamesh/main.syncthing/monochrome/bin/gx toggle radio"

[Install]
WantedBy=hibernate.target hybrid-sleep.target suspend-then-hibernate.target
