[Unit]
Description=gilgamesh-44.sunshine
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=4
User=gilgamesh
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-44/gilgamesh-44.sunshine

[Install]
WantedBy=multi-user.target
