[Unit]
Description=http-proxy.server
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=4
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-44/http-proxy.server

[Install]
WantedBy=multi-user.target
