[Unit]
Description=nvidia_pl
After=network.target
StartLimitIntervalSec=1

[Service]
RemainAfterExit=true
Type=oneshot
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-44/nvidia_pl.sh

[Install]
WantedBy=multi-user.target

