body>.mobile-toolbar>.mobile-toolbar-internals {
    width: auto !important;
}
body>#body {
    max-width: none !important;
    min-width: auto !important;
    width: auto !important;
}
body>#body>div {
    width: auto !important;
}

html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

html * {
    max-height: 1000000px;
    word-wrap: break-word;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

#body {
    margin-top: 20px !important;
}

/*.datatable td, .datatable th {*/
/*word-wrap: break-word;*/
/*word-break: break-all;*/
/*}*/

.datatable td.time-consumed-cell, .datatable td.memory-consumed-cell, .datatable td.id-cell {
    font-size: 1.1rem;
}

.mobile-toolbar {
    display: none;
}


/* IPad. */
@media only screen and (max-device-width: 8000px) {
    html body #pageContent {
        margin: 0 1em 1em 1em;
        padding-top: 0;
        min-height: 20em;
    }

    .mobile-toolbar {
        display: block;
        height: 32px;
    }

    .mobile-toolbar-menu {
        margin-left: 3px;
        margin-top: 1px;
        max-width: 32px;
        max-height: 32px;
    }

    .mobile-toolbar-sidebar {
        margin-left: 3px;
        margin-bottom: 6px;
        max-width: 32px;
        max-height: 32px;
    }

    html body .second-level-menu {
        position: static;
        left: 0;
        top: 0;
        margin-bottom: 0.5em;
    }

    html body .second-level-menu-list {
        position: static;
        height: auto;
        overflow: hidden;
    }

    html {
        font-size: 12px;
    }

    html body #header {
        border-bottom: 1px solid rgb(185, 185, 185);
        height: 4em;
    }

    .comment-children li {
        margin: 0.25em 0 0.25em 2em;
    }
}

/* Good Phone. */
@media only screen and (max-device-width: 450px) {
    html {
        font-size: 16px;
    }

    html body #header {
        border-bottom: 1px solid rgb(185, 185, 185);
        height: 4em;
    }

    .mobile-toolbar {
        display: block;
        height: 70px;
    }

    .mobile-toolbar-menu {
        margin-left: 3px;
        margin-top: 5px;
        max-width: 64px;
        max-height: 64px;
    }

    .mobile-toolbar-sidebar {
        margin-left: 3px;
        margin-top: 3px;
        max-width: 64px;
        max-height: 64px;
    }

    html body .comment-children li {
        margin: 0.25em 0 0.25em 1em;
    }

    html .datatable td, html .datatable th {
        padding: 3px;
    }
}

/* Bad Phone. */
@media only screen and (max-device-width: 320px) {
    html {
        font-size: 16px;
    }

    .comment-children li {
        margin: 0.25em 0 0.25em 1em;
    }
}

#swipe-sidebar {
    width: 600px;
    position: fixed;
    top: 0;
    right: -600px;
    height: 100%;
    /*display: none;*/
    /*background: white;*/
    font-size: 1.25em;
    /*margin-bottom: 100px;*/
    box-sizing: border-box;

    display: block;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px;
    margin: 0;
    border-left: 3px solid grey;
    background: white;
    z-index: 11;
}

.swipe-sidebar-opened #swipe-sidebar {
    right: 0;
}

#sidebar {
    padding: 0 0 100px 0;
    margin: 0;
    background: white;
    float: none !important;
}

#body {
    /*max-width: 900px !important;*/
    min-width: 885px !important;
    width: 885px !important;
    padding: 0;
    margin: 0;
    /*overflow-x: auto;*/
}

/*#body * {*/
/*word-wrap: break-word;*/
/*}*/

.main-menu-list * {
    float: none !important;
}

.menu-box {
    border-right: 3px solid grey;
    height: 100% !important;
    /*display: none;*/
    position: fixed;
    top: 0;
    left: -450px;
    width: 400px;
    background-color: white;
    z-index: 11;
    box-sizing: border-box;
    /*margin: 3px;*/
    font-size: 1.5em;
}

.menu-box {
    margin-bottom: 0.75em;
}

.menu-list li a {
    height: auto;
    line-height: normal;
    font-size: inherit;
}

.menu-box-opened .menu-box {
    left: 0;
}

.menu-list.main-menu-list li {
    margin: 0.5em auto 0.75em auto;
    width: 8em;
}

pre {
    /*white-space: pre-wrap !important; /!* css-3 *!/*/
    /*white-space: -moz-pre-wrap !important; /!* Mozilla, since 1999 *!/*/
    /*white-space: -o-pre-wrap !important; /!* Opera 7 *!/*/
    word-wrap: break-word !important; /* Internet Explorer 5.5+ */
    max-width: 100% !important;
    overflow-x: auto !important;
    box-sizing: border-box !important;
}

.menu-box-opened body, .swipe-sidebar-opened body {
    /*position: fixed;*/
    overflow: hidden;
}
