[user]
	email = c706213d-56d4-42c1-a681-27fd4135a504@gilgamesh.cc
	name = gilgamesh
[core]
	autocrlf = false
	fileMode = true
[alias]
	co = checkout
	cp = cherry-pick
	ac = ! git add -A && git commit --allow-empty-message -am
	ace = ! git add -A && git commit --allow-empty --allow-empty-message -am ''
	rs = ! git reset --soft HEAD~1
	cbr = ! git branch | grep -v 'master' | xargs git branch -D
	p = ! [[  = '' ]] && git push -u origin master || git push
	rgc = ! git reflog expire --expire=now --all && git gc --prune=now --aggressive
