[Unit]
Description=gilgamesh-51.tunnel
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=60
User=gilgamesh
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-51/gilgamesh-51.tunnel

[Install]
WantedBy=multi-user.target
