[Unit]
Description=gilgamesh-31.openvpn
After=network.target
StartLimitIntervalSec=1

[Service]
RemainAfterExit=true
Type=oneshot
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-51/gilgamesh-31.openvpn

[Install]
WantedBy=multi-user.target
