[Unit]
Description=gilgamesh-51.sunshine
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=60
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-51/gilgamesh-51.sunshine

[Install]
WantedBy=multi-user.target
