[Unit]
Description=reset_radio
After=hibernate.target hybrid-sleep.target suspend-then-hibernate.target
StartLimitIntervalSec=60

[Service]
Type=oneshot
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/machine/gilgamesh-51/reset_radio.sh

[Install]
WantedBy=hibernate.target hybrid-sleep.target suspend-then-hibernate.target
