# Should be started as user service for correct permissions (e.g. audio).
[Unit]
Description=sunshine-patch
After=sddm.service
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=60
User=gilgamesh
ExecStartPre=/usr/bin/sleep 64
ExecStart=/usr/bin/sunshine

[Install]
WantedBy=xdg-desktop-autostart.target
