[Unit]
Description=sunshine-patch
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=60
User=gilgamesh
ExecStart=/usr/bin/sunshine

[Install]
WantedBy=xdg-desktop-autostart.target
