# Adjust the high performance state from 8 to 16 to unlock performance (in addition to  adjusting PL).
[Unit]
Description=nvidia_pstate
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=60
User=root
ExecStart=/home/gilgamesh/main.syncthing/monochrome/app/nvidia-pstated --performance-state-high 8

[Install]
WantedBy=multi-user.target

