# Long-running service is safest. Use that (and adjust PL) to achieve highest performance. However, starting once with a limited power state will error but lower the power usage. Unclear of long-term effects of this but it helps with low-power tasks (e.g. encoding).
[Unit]
Description=nvidia_pstate
After=network.target
StartLimitIntervalSec=1

[Service]
Type=simple
Restart=always
RestartSec=60
# Type=oneshot
User=root
ExecStart=sh -c "/home/gilgamesh/main.syncthing/monochrome/app/nvidia-pstated --performance-state-high 15 || true; sleep infinity"

[Install]
WantedBy=multi-user.target

