# MASQUERADE all packets to any of the three outward-facing interfaces.
[Unit]
Description=openvpn-iptables-postrouting
After=network.target
StartLimitIntervalSec=60

[Service]
Type=oneshot
User=root
ExecStart=bash -c "/usr/sbin/iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE && /usr/sbin/iptables -t nat -A POSTROUTING -o eth1 -j MASQUERADE && /usr/sbin/iptables -t nat -A POSTROUTING -o tun-47 -j MASQUERADE"

[Install]
WantedBy=multi-user.target
