[user]
	email = "~@gilgamesh.cc"
	name = "GILGAMESH"
[core]
	autocrlf = "false"
	fileMode = "false"
[alias]
	co = "checkout"
	cp = "cherry-pick"
	ac = "! git add -A && git commit --allow-empty-message -am"
	ace = "! git add -A && git commit --allow-empty --allow-empty-message -am ''"
	rs = "! git reset --soft HEAD~1"
	cbr = "! git branch | grep -v 'master' | xargs git branch -D"
	p = "! [[ $(git config 'branch.$(git symbolic-ref --short HEAD).merge') = '' ]] && git push -u origin $(git symbolic-ref --short HEAD) || git push"
	rgc = "! git reflog expire --expire=now --all && git gc --prune=now --aggressive"
