[Unit]
Description=tunnel
After=network.target
StartLimitIntervalSec=60

[Service]
Type=simple
Restart=always
RestartSec=60
User=root
ExecStart=/root/tunnel.sh

[Install]
WantedBy=multi-user.target
